@model PagedList.IPagedList<BTL_Nhom2.Models.KhachHang>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Khách hàng</h2>


<table class="table table-bordered table-hover">
    <tr>
        <th>
            Tên đăng nhập
        </th>
        <th>
            @Html.ActionLink("Họ tên", "Index", new { sortOrder = ViewBag.SapTheoTen, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Điện thoại
        </th>
        <th>
            Ảnh đại diện
        </th>
        <th>
            @Html.ActionLink("Ngày sinh", "Index", new { sortOrder = ViewBag.SapTheoNS, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Giới tính
        </th>
        <th>
            Email
        </th>
        <th>Thao tác</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaiKhoan.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avatar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter
}))
