@model BTL_Nhom2.Models.TaiKhoan

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa tài khoản</h2>

<h3>Có chắc xóa bản ghi này?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên đăng nhập
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            Mật khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassWord)
        </dd>

        <dt>
            Cho phép
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Allowed)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
@if (ViewBag.Error != null)
{
    <br />
    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
}