@model BTL_Nhom2.Models.NhaSanXuat

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết nhà sản xuất</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên nhà sản xuất
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNSX)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            Điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
