@model BTL_Nhom2.Models.SanPham

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết sản phẩm</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên chất liệu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChatLieu.TenChatLieu)
        </dd>

        <dt>
            Tên đối tượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoiTuong.TenDoiTuong)
        </dd>

        <dt>
            Tên nhà sản xuất
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaSanXuat.TenNSX)
        </dd>

        <dt>
            Tên thể loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheLoai.TenTheLoai)
        </dd>

        <dt>
            Tên sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            Đơn vị tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonViTinh)
        </dd>

        <dt>
            Số lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            Đơn giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            Ngày cập nhật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>

        <dt>
            Hình minh họa
        </dt>

        <dd>
            @{
                string imgPath = "~/Content/images/" + Model.HinhMinhHoa;
            }
            <img src="@Url.Content(imgPath)" width="100" class="img-thumbnail" />
            <br />
            @Html.DisplayFor(modelItem => Model.HinhMinhHoa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
